.home{
    background-color: rgb(240, 240, 240);
}
.home_container{
    width: 100%;
   
    
   z-index: -1;
   text-align: center;
   /* mask-image: linear-gradient(to bottom,rgba(rgb(169, 169, 241)),(rgb(3, 211, 3))); */
}
.home_row{
    display: flex;
    /* background-color: rgb(241, 249, 250); */
    justify-content: space-evenly;
    margin: -10px;
   
}